@media only screen and (max-width: 961px){

	.float-tr-bot{  
	top: -200px;
	/*Medium: -200px and sm: -125px*/
}
.meet-text{
	margin-top: -250px; 
	/*Medium: -250px and sm: -100px*/
}
}
@media only screen and (max-width: 768px){

	.mobile-padding {
		margin-left: 120px;
		margin-right: 120px;
	}
}

@media only screen and (max-width: 643px){

	.mobile-padding {
		margin-left: 60px;
		margin-right: 60px;
	}
	.float-tr-bot{  
	top: -125px;
	/*Medium: -200px and sm: -125px*/
}
.meet-text{
	margin-top: -100px; 
	/*Medium: -250px and sm: -100px*/
}
}

@media only screen and (max-width: 608px){

	.mobile-padding {
		margin-left: 30px;
		margin-right: 30px;
	}
nav#menu span.fa.fa-bars {
left: 60px;
}
.header-text.btn {
height: auto;
white-space: inherit;
}
.hover-bg .hover-text {
padding: 15% 0;
}

@media only screen and (max-width: 460px){

	.mobile-padding {
		margin-left: 0px;
		margin-right: 0px;
	}
h3 {
    font-size: 12px;
}
nav#menu span.fa.fa-bars {
left: 30px;
}
.content {
padding-top: 30%;
}
.hover-bg .hover-text {
padding: 20% 0;
}
#overview-video .overlay {
    padding: 30% 0px;
}
}
@media only screen and (max-width: 360px){

h1 {
    font-size: 36px;
}
h3 {
    font-size: 11px;
}
hover-bg .hover-text {
    padding: 25% 0px;
}
.pull-left,
.pull-right {
    float: none !important;
    text-align: center;
}
}
@media only screen and (max-width: 320px){
h1 {
    font-size: 30px;
}
hover-bg .hover-text {
    padding: 30% 0px;
}
}